# 자료형

## 숫자형

숫자형이란 숫자 형태로 이루어진 자료형으로 123 같은 정수, 12.34 같은 실수, 8진수와 16진수 같은 것들이 있다.

### 정수형

In [5]:
a = 123
print(a)

123

### 실수형

아래 방식은 컴퓨터식 지수 표현 방식으로 파이썬에서는 'a = 4.24E10', 'a = 4.24e-10'과 같이 표현한다(e와 E 둘 중 어느 것을 사용하더라도 무방하다). 여기서 'a = 4.24E10'는 4.24*10^10을 의미하고, 'a = 4.24e-10'는 4.24*10^-10을 의미한다.

In [6]:
a = 1.2
b = 4.24E10
c = 4.24e-10

print(a, b, c)

1.2 42400000000.0 4.24e-10

### 8진수와 16진수

8진수를 만들기 위해서는 숫자가 0o 또는 0O로 시작하면 된다.
16진수를 만들기 위해서는 0x로 시작하면 된다.

In [7]:
a = 0o177
b = 0x8ff
print(a)
print(b)

127
2303

### 연산

/ 연산자는 나눗셈 연산이 수행되며 부동 소수점 형태로 반환된다.  
** 연산자는 x**y 일때 x의 y 제곱 연산을 수행한다.  
% 연산자는 나눗셈 후 나머지를 반환한다.  
// 연산자는 나눗셈 후 몫을 반환한다.

In [9]:
a = 3
b = 4

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a**b)
print(a%b)
print(a//b)

7
-1
12
0.75
81
3
0

## 문자열

문자열(string)이란 문자, 단어 등으로 구성된 문자들의 집합을 의미한다.  
문자열을 만드는 방법은 총 4가지가 있다.  
- 큰따옴표로 양쪽 둘러싸기 - "Hello World"
- 작은따옴표로 양쪽 둘러싸기 - "Python is fun"
- 큰따옴표 3개를 연속으로 써서 양쪽 둘러싸기 - """Life is good"""
- 작은따옴표 3개를 연속으로 써서 양쪽 둘러싸기 - '''Life is too short'''  
문자열을 만들어 주는 주인공은

In [1]:
print('Hello World')
print("Hello World")
print('''Hello World''')
print("""Hello World""")

Hellow World
Hello World
Hello World
Hello World

문자열 안에도 작은따옴표와 큰따옴표가 필요한 경우가 있다.  
- 작은따옴표 이루어진 문자열 안에 큰따옴표를 포함하거나 큰따옴표로 이루어진 문자열 안에 작은따옴표를 포함
- 백슬래쉬를 사용하여 문자열 안에 작은따옴표 혹은 큰따옴표를 포함

In [4]:
print("Hello' World")
print('Hello" World')
print("Hello\' World")
print("Hello\" World")

Hello' World
Hello" World
Hello' World
Hello" World

여러 줄인 문자열을 변수에 대입하고 싶을 때는 연속된 작음따옴표 3개 또는 큰따옴표 3개를 사용하면 된다.

In [5]:
multiline ='''
Hello,
my name is Bob.
'''

print(multiline)

Hello,
my name is Bob.

Escape code : 프로그래밍할 때 사용할 수 있도록 미리 정의해 둔 문자 조합
- \n : 문자열 안에서 줄을 바꿀 때 사용
- \t : 문자열 사이에 탭 간격을 줄 때 사용
- \\ : 문자 '\'을 표현할 때 사용
- \' : 작은따옴표를 표현할 때 사용
- \" : 큰따옴표를 표현할 때 사용

### 문자열 연산하기

파이썬에서는 문자열을 더하거나 곱할 수 있다.

문자열 더해서 연결하기(concatenation)

In [6]:
head = 'Hello'
tail = 'World'
print(head + tail)

HelloWorld

문자열 곱하기

In [7]:
a = 'Hello World'
print(a*2)

Hello WorldHello World

문자열 길이 구하기
- 파이썬 기본 내장 함수인 len 함수를 사용하면 문자열 길이를 구할 수 있다.

In [8]:
a = "Hello World"
print(len(a))

11

### 문자열 인덱싱과 슬라이싱

인덱싱(indexing)이란 무엇인가를 가리킨다는 의미이다.  
파이썬은 0부터 숫자를 센다.  
문자열 변수에 [index]를 사용하면 문자열 안의 특정한 값을 뽑아낼 수 있고, 이를 인덱싱이라 한다.

In [13]:
a = "Life is too short, you need Python"

print(len(a))
print(a[0])
print(a[33])
print(a[-1])
print(a[-34])

34
L
n
n
L

슬라이싱(slicing)이란 무엇인가를 잘라낸다는 의미이다.  
슬라이싱을 통해 문자열에서 원하는 부분을 뽑아낼 수 있다.  
슬라이싱을 할 때는 문자열 변수[시작 번호 : 끝 번호]를 지정하면 되는데, 이때 끝 번호에 해당하는 것은 포함하지 않는다.  
슬라이싱을 할 때 시작 번호 혹은 끝 번호를 생략하면 각각 문자열의 처음 혹은 끝을 의미한다.  
슬라이싱에서도 인덱싱과 마찬가지로 - 기호를 사용할 수 있다.

In [19]:
a = "Life is too short, you need Python"

print(a[0:4])
print(a[5:7])
print(a[19:])
print(a[:17])
print(a[:])
print(a[19:-7])
print(a[-15: -7])

Life
is
you need Python
Life is too short
Life is too short, you need Python
you need
you need

파이썬에서 문자열의 요솟값은 바꿀 수 있는 값이 아니기 때문에(immutable) 문자열 자료형은 그 요솟값을 변경할 수 없다.

In [20]:
a = "Pithon"
a[1] = 'y'
print(a)

TypeError: 'str' object does not support item assignment

### 문자열 포매팅

문자열 안의 특정한 값을 바궈야 할 경우가 있을 때 문자열 포매팅을 사용할 수 있다.

#### 숫자 바로 대입
문자열 안에서 숫자를 넣고 싶은 자리에 %d 문자를 넣어 주고, 삽입할 숫자는 가장 뒤에 % 문자 다음에 써 넣는다.

In [23]:
a = "I eat %d apples."%3
print(a)

I eat 3 apples.

#### 문자열 바로 대입
문자열 안에서 문자열을 넣고 싶은 자리에 %s 문자를 넣어 주고, 삽입할 문자열은 가장 뒤에 % 문자 다음에 써 넣는다.

In [24]:
a = 'I eat %s apples.'%"five"

print(a)

I eat five apples.

#### 숫자 값을 나타내는 변수로 대입

In [25]:
number = 3
a = 'I eat %d apples.'%number

print(a)

I eat 3 apples.

#### 2개 이상의 값 넣기
2개 이상의 값을 넣으려면 마지막 % 다음 괄호 안에 콤마로 구분하여 각각의 값을 넣어주면 된다.

In [26]:
number = 10
day = 'three'
a = "I ate %d apples. So I was sick for %s days."%(number, day)

print(a)

I ate 10 apples. So I was sick for three days.

#### 문자열 포맷 코드
- %s : 문자열(string)
- %c : 문자 1개(character)
- %d : 정수(integer)
- %f : 부동 소수(floating-point)

#### 문자열 포맷의 장점
문자열 포맷팅 연산자 %s는 문자열 뿐만 아니라 정수, 부동 소수점 등 어떤 형태의 값이든 변환해 넣을 수 있다.

In [27]:
a = "I have %s apples. Apple is %s grams."%(3, 120.50)
print(a)

I have 3 apples. Apple is 120.5 grams.

#### 포맷 코드와 숫자 함께 사용하기
%d, %s 등의 포맷 코드는 문자열 안에 어떤 값을 삽입하기 위해 사용한다.  
이 밖에도 포맷 코드를 숫자와 함께 사용하면 더 유용하게 사용할 수 있다.

##### 정렬과 공백
포맷 코드를 정수와 함께 사용하면 전체 길이가 정수만큼인 문자열 공간에서 대입되는 값을 오른쪽 혹은 왼쪽으로 정렬하고 나머지 공간은 공백으로 남겨둔다.

In [35]:
a = "%10s"%"hi"
b = "%-10s"%'hi'
c = "%10s won"%'10000'
d = "%-10s won"%'10000'
print(a)
print(b)
print(c)
print(d)

        hi
hi
     10000 won
10000      won

##### 소수점 표현하기
소수점을 특정 자리 수까지만 표현하고 싶은 경우에는 '.'을 사용하면 된다.

In [50]:
a = "%0.4f"%3.141592
b = "%10.4f"%3.141592
c = "%.4f"%3.141592

print(a)
print(b)
print(c)

3.1416
    3.1416
3.1416

#### format 함수를 사용한 포매팅
문자열의 format 함수를 사용하면 더 편리하게 문자열 포맷을 지정할 수 있다.  
{} 안에 인덱스를 통해 format 함수의 입력값을 지정할 수 있다.  
{name} 형태를 사용하는 경우 format 함수에는 반드시 name=value와 가은 형태의 입력값이 있어야만 한다.

In [47]:
number = 3
days = "three"
a = "I eat {0} apples.".format(3)
b = "I eat {0} apples.".format("three")
c = "I eat {0} apples.".format(number)
d = "I eat {0} apples in {1} days.".format(number, days)
e = "I eat {1} apples in {0} days.".format(number, days)
f = "I eat {number} apples in {days} days.".format(number=3, days='three')

print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

I eat 3 apples.
I eat three apples.
I eat 3 apples.
I eat 3 apples in three days.
I eat three apples in 3 days.
I eat 3 apples in three days.

포매팅 연산자 같이 format 함수를 통해 왼쪽, 오른쪽 정렬을 할 수 있고, 소수점을 표현할 수 있다.

In [51]:
a = "{0:<10}".format('hi')
b = "{0:>10}".format('hi')
c = "{a:<10}".format(a='hi')
d = "{a:>10}".format(a='hi')
e = "{a:^10}".format(a='hi')
f = "{0:.4f}".format(3.141592)
g = "{0:10.4f}".format(3.141592)

print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)

hi
        hi
hi
        hi
    hi
3.1416
    3.1416

#### f 문자열 포매팅
문자열 앞에 f 접두사를 붙이면 f 문자열 포매팅 기능을 사용할 수 있다.  
f 문자열 포매팅은 변수 값을 생성한 후에 그 값을 참조할 수 있다.

In [54]:
name = 'giyeol'
age = 30

print(f'My name is {name}, age is {age}.')

My name is giyeol, age is 30.

f 문자열 포매팅은 표현식을 지원한다.  
표현식이란 문자열 안에서 변수와 +,- 와 같은 수식을 함께 사용하는 것을 말한다.

In [55]:
age = 30
print(f'I am {age+1} years old.')

I am 31 years old.

f 문자열 포매팅은 딕셔너리도 사용할 수 있다.

In [56]:
d = {'name' : 'giyeol', 'age': 30}
print(f'My name is {d["name"]} and I\'m {d["age"]} years old.')

My name is giyeol and I'm 30 years old.

f 문자열도 정렬을 할 수 있다.

In [62]:
print(f'{"hi":<10}')
print(f'{"hi":>10}')

hi
        hi

### 문자열 관련 함수
문자열 자료형은 자체적으로 문자열 내장 함수를 가지고 있다.   
이 내장 함수를 사용하려면 문자열 변수 이름 뒤에 '.'을 붙인 다음 함수 이름을 쓰면 된다.

#### 문자 개수 세기
count 함수를 사용ㅇ하면 문자열 중 특정 문자의 개수를 반환한다.

In [67]:
a = 'hobby'
print(a.count('b'))

2

#### 위치 알려주기
find 함수는 문자열 중 특정 문자가 처음으로 나온 위치를 반환하고, 찾는 문자가 없으면 -1을 반환한다.
index 함수는 문자열 중 특정 문자가 맨 처음으로 나온 위치를 반환하고, 찾는 문자가 없으면 오류를 발생시킨다.

In [68]:
a = 'Python is the best choice'

print(a.find('b'))
print(a.index('b'))

14
14

#### 문자열 삽입
join 함수는 문자열의 각각의 문자 사이에 특정 문자를 삽입한다.  
join 함수는 문자열, 리스트, 튜플에도 사용된다,

In [72]:
print(".".join('abcd'))
print(".".join(['a','b','c','d']))

a.b.c.d
a.b.c.d

#### 소문자 <-> 대문자로 바꾸기
upper 함수는 소문자를 대문자로 바꿔준다. 
lower 함수는 대문자를 소문자로 바꿔준다.

In [73]:
print('HI'.lower())
print('hi'.upper())

hi
HI

#### 왼쪽 공백 지우기
strip 함수는 문자열 양쪽에 있는 한 칸 이상의 연속된 공백을 모두 지운다.
lstrip 함수는 문자열 중 가장 왼쪽에 있는 한 칸 이상의 연속된 공백들을 모두 지운다.  
rstrip 함수는 문자열 중 가장 오른쪽에 있는 한 칸 이상의 연속된 공백들을 모두 지운다.

In [76]:
print('     hi       '.strip())
print('    hi'.lstrip())
print('hi       '.rstrip())

hi
hi
hi

#### 문자열 바꾸기
replace 함수는 문자열 안의 특정한 값을 다른 값으로 치환해준다.

In [77]:
a = 'hello world'
b = a.replace('h', 'j')
print(b)

jello world

#### 문자열 나누기
split 함수는 () 안에 아무 값도 넣어주지 않으면 공백(스페이스, 탭, 엔터)를 기준으로 문자열을 나눈다.  
만약 () 안에 특정 값이 있을 경우 특정 값을 구분자로 해서 문자열을 나눠주고 특정 값은 결과에 포함되지 않는다.

In [79]:
a = 'Hello World'
print(a.split())
print(a.split('o'))

['Hello', 'World']
['Hell', ' W', 'rld']

## 리스트

### 리스트 생성

리스트를 사용하면 다양한 숫자, 문자열 모음을 표현할 수 있다.  
리스트를 만들 때는 대괄호 []로 감싸주고 각 요솟값은 ','로 구분해준다.  
리스트는 아무것도 포함하지 않는 빈 리스트일 수도 있고 숫자, 문자열, 리스트 자체 등 어떠한 자료형이더라도 요솟값으로 가질 수 있다.

In [81]:
odd = [1,3,5,7,9]
print(odd)

[1, 3, 5, 7, 9]

In [82]:
a = []
b = [1,2,3]
c = ['Life', 'is', 'good', '.']
d = [1,2, 'Life', 'good']
e = ['Life', 'is', ['good', '.']]

print(a)
print(b)
print(c)
print(d)
print(e)

[]
[1, 2, 3]
['Life', 'is', 'good', '.']
[1, 2, 'Life', 'good']
['Life', 'is', ['good', '.']]

### 리스트의 인덱싱과 슬라이싱
리스트도 문자열처럼 인덱싱과 슬라이싱이 가능하다.

In [83]:
a = [1,2,3]
b = ['Life', 'is', ['good', '.']]

print(a[0])
print(a[-1])
print(a[0]+a[1])
print(b)
print(b[0])
print(b[-1])
print(b[-1][0])

1
3
3
['Life', 'is', ['good', '.']]
Life
['good', '.']
good

In [87]:
a = [1,2,3,4,5]
b = ['Life', 'is', ['good', '.']]

print(a[0:3])
print(a[:3])
print(a[:])
print(b[1:])
print(b[2][:1])

[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4, 5]
['is', ['good', '.']]
['good']

### 리스트 연산하기
리스트는 문자열과 마찬가지로 + 기호를 통해 리스트를 concatenate 할 수 있고, * 기호를 사용하여 반복할 수 있다.

In [94]:
a = [1,2,3]
b = ['4','5','6']

print(a+b)
print(b*3)
print(b[1]+'hi')
print(len(a))

[1, 2, 3, '4', '5', '6']
['4', '5', '6', '4', '5', '6', '4', '5', '6']
5hi
3

### 리스트 수정과 삭제
리스트는 값을 수정하거나 삭제할 수 있다.   
리스트에서 인덱스를 사용하면 특정 요솟값을 변경할 수 있다.  
del 함수를 사용하면 특정 요솟값을 삭제할 수 있고, 슬라이싱을 통해 요소 여러 개를 한꺼번에 삭제할 수 있다.  
del 함수는 파이썬이 자체적으로 가지고 있는 삭제 함수이며 (del 객체)로 사용할 수 있다.  
이때 객체는 파이썬에서 사용되는 모든 자료형을 의미한다.

In [91]:
a = [1,2,3]
a[2] = 4
print(a)

[1, 2, 4]

In [98]:
a = [1,2,3,4,5,6]
del a[2:4]
print(a)

[1, 2, 5, 6]

### 리스트 관련 함수
문자열과 마찬가지로 리스트도 변수 이름 뒤에 '.'을 붙여서 여러 가지 리스트 관련 함수를 사용할 수 있다.

#### 리스트에 요소 추가
append 함수는 리스트의 제일 마지막에 값을 추가한다.  
값을 추가할 때는 어떠한 자료형도 추가할 수 있다.  
append 함수는 리스트에 원소를 추가하는데, append 함수는 원본 리스트를 변경하고 반환 값이 없다.

In [102]:
a = [1,2,3]
b = a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
None

#### 리스트 정렬
sort 함수는 리스트의 요소를 순서대로 정렬해준다.  
sort 함수도 원본 리스트를 변경하고 반환 값이 없다.

In [106]:
a = [1,2,3,4]
b = a.sort()
print(a)
print(b)

[1, 2, 3, 4]
None

#### 리스트 뒤집기
reverse() 함수는 리스트를 역순으로 뒤집어 준다.  
이때 요소들을 순서대로 정렬한 다음 역순으로 정렬하는 것이 아니라 현재의 리스트를 거꾸로 뒤집는다.  
reverse() 함수도 원본 리스트를 변경하고 반환 값이 없다.

In [109]:
a = ['a', 'c', 'd', 'b']
a.reverse()

print(a)

['b', 'd', 'c', 'a']

#### 위치 반환
index(x) 함수는 리스트에 x가 있으면 x의 인덱스를 반환한다.  
만약 리스트에 x가 존재하지 않는다면 오류(ValueError)가 발생한다.

In [110]:
a = [1,2,3,4,5]
b = a.index(3)
print(b)

2

#### 리스트에 요소 삽입
insert(a,b) 함수는 리스트의 a 번째 위치에 b를 삽입한다.  
insert(a,b) 함수는 원본 리스트를 변경하여 반환 값이 없다.

In [112]:
a = [1,2,3,4,5]
b = a.insert(3, 'b')

print(a)
print(b)

[1, 2, 3, 'b', 4, 5]
None

#### 리스트 요소 제거
remove(x) 함수는 리스트에서 첫 번째로 나오는 x를 삭제한다.  
리스트에 x가 2개 이상인 경우에도 첫 번째 x만 삭제한다.

In [113]:
a = [1,2,3,3,3,4,5]
a.remove(3)

print(a)

[1, 2, 3, 3, 4, 5]

#### 리스트의 요소 끄집어내기
pop() 함수는 리스트의 맨 마지막 요소를 반환하고 해당 요소는 삭제한다.

In [114]:
a = [1,2,3,4,5]
b = a.pop()

print(a)
print(b)

[1, 2, 3, 4]
5

#### 리스트에 포함된 요소 x의 개수 세기
count(x) 함수는 리스트 안에 x가 몇 개 있는지 조사하고 그 개수를 반환한다.

In [115]:
a = [1,2,3,4,4,4,5]
b = a.count(4)

print(b)

3

#### 리스트 확장
extend(x) 함수에서 x는 리스트만 올 수 있으며 원래의 리스트에 x 리스트를 더하게 된다. 
extend(x) 함수는 원본 리스트에 새로운 리스트를 더하고 반환 값은 없다. 
extend(x) 함수는 리스트 간의 덧셈 연산과 동일하다.

In [118]:
a = [1,2,3]
b = [4,5,6]
c = a.extend(b)

print(a)
print(b)
print(c)

[1, 2, 3, 4, 5, 6]
[4, 5, 6]
None

## 튜플 자료형

튜플(tuple)은 리스트와 거의 유사하지만 다음과 같은 점이 다르다.
- 리스트는 []으로 둘러싸지만 튜플은 ()으로 둘러싼다.
- 리스트는 그 값의 생성, 삭제, 수정이 가능하지만 튜플은 그 값을 바꿀 수 없다.

튜플과 리스트의 가장 큰 차이는 값을 변화시킬 수 있는가 여부이다.  
리스트의 항목 값은 변화가 가능하고 튜플의 항목 값은 변화가 불가능하기 때문에 프로그램이 실행되는 동안 그 값이 항상 변하기 않기를 바란다면 튜플을 사용하면 된다.  

튜플은 1개의 요소만을 가질 때는 요소 뒤에 ','를 반드시 붙여야 한다.  
튜플을 표현할 때는 괄호 ()를 생략해도 무방하다.

In [120]:
t1 = ()
t2 = (1,)
t3 = ('a', 'b', 'c')
t4 = 1,2,3
t5 = ('a', 'b', ('ab', 'cd'))

print(t1)
print(t2)
print(t3)
print(t4)
print(t5)

()
(1, 2, 3)
('a', 'b', 'c')
(1, 2, 3)
('a', 'b', ('ab', 'cd'))

In [121]:
t1 = (1,2, 'a', 'b')
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [122]:
t1 = (1,2,'a','b')
t1[0] = 3

TypeError: 'tuple' object does not support item assignment

### 튜플 다루기
튜플은 값을 변화시킬 수 없다는 점만 제외하면 리스트와 완전히 동일하다.

In [125]:
t1 = (1,2,'a','b')
t2 = 1,2,3,4,5
print(t1[0])
print(t1[:3])
print(t1[1:3])
print(t1+t2)
print(t1*2)
print(len(t1))

1
(1, 2, 'a')
(2, 'a')
(1, 2, 'a', 'b', 1, 2, 3, 4, 5)
(1, 2, 'a', 'b', 1, 2, 'a', 'b')
4

## 딕셔너리 자료형

딕셔너리란 대응 관계를 나타내는 자료형으로 Key와 Value를 한 쌍으로 가진다.  
딕셔너리는 리스트나 튜플처럼 순차적으로 해당 요솟값을 구하지 않고 Key를 통해 Value를 얻는다.  
딕셔너리의 Key는 고유한 값이므로 중복된 Key를 사용하면 하나를 제외한 나머지 Key 값들은 모두 무시된다.  
딕셔너리의 Key에는 변하지 않는(immutable) 값만 사용할 수 있기 때문에 튜플은 사용할 수 있지만 리스트는 사용할 수 없다.

### 딕셔너리 생성
딕셔너리는 {Key1:Value1, Key2:Value2, Key3:Value3, ...}과 같이 생성한다.

In [126]:
dic = {'name': 'giyeol', 'age': 21, 'hobby': ['soccer', 'game']}
print(dic)

{'name': 'giyeol', 'age': 21, 'hobby': ['soccer', 'game']}

### 딕셔너리 쌍 추가, 삭제하기

In [127]:
dic = {'name': 'giyeol', 'age': 21, 'hobby': ['soccer', 'game']}
dic['address'] = 'South Korea'

print(dic)

{'name': 'giyeol', 'age': 21, 'hobby': ['soccer', 'game'], 'address': 'South Korea'}

In [128]:
dic = {'name': 'giyeol', 'age': 21, 'hobby': ['soccer', 'game']}
del dic['name']

print(dic)

{'age': 21, 'hobby': ['soccer', 'game']}

### 딕셔너리를 사용하는 방법
리스트, 튜플, 문자열은 요솟값을 얻을 때 인덱싱이나 슬라이싱을 사용한다.  
딕셔너리는 Key를 사용해서 Value를 얻을 수 있다.

In [129]:
dic = {'name': 'giyeol', 'age': 21, 'hobby': ['soccer', 'game']}

print(dic['name'])

giyeol

### 딕셔너리 관련 함수

#### key 리스트 만들기
keys() 함수는 딕셔너리의 키만을 모아서 dict_keys 객체를 반환한다.  
파이썬 2.7 버전까지는 keys() 함수는 반환 값으로 dict_keys가 아닌 리스트를 반환했지만 리스트를 돌려주면 메모리 낭비가 발생하므로 파이썬 3.0 이후 버전에서는 메모리 낭비를 줄이기 위해 dict_keys, dict_values, dict_items 객체를 반환한다.  
반환 값으로 리스트를 만들기 위해서는 list()를 통해 리스트로 형변환을 하면 된다.
dict_keys, dict_values, dict_items 객체들은 리스트로 변환하지 않더라도 반복 구문에 사용할 수 있다.

In [135]:
dic = {'name': 'giyeol', 'age': 21, 'hobby': ['soccer', 'game']}

print(dic.keys())
print(list(dic.keys()))

for i in dic.keys():
    print(i)

dict_keys(['name', 'age', 'hobby'])
['name', 'age', 'hobby']
name
age
hobby

#### value 리스트 만들기

In [137]:
dic = {'name': 'giyeol', 'age': 21, 'hobby': ['soccer', 'game']}

print(dic.values())
print(list(dic.values()))

for i in dic.values():
    print(i)

dict_values(['giyeol', 21, ['soccer', 'game']])
['giyeol', 21, ['soccer', 'game']]
giyeol
21
['soccer', 'game']

#### key, value 쌍 얻기
items 함수는 key와 value의 쌍을 튜플로 묶은 값을 dict_items 객체로 돌려준다.

In [140]:
dic = {'name': 'giyeol', 'age': 21, 'hobby': ['soccer', 'game']}

print(dic.items())
print(list(dic.items()))

for i in dic.items():
    print(i)

dict_items([('name', 'giyeol'), ('age', 21), ('hobby', ['soccer', 'game'])])
[('name', 'giyeol'), ('age', 21), ('hobby', ['soccer', 'game'])]
('name', 'giyeol')
('age', 21)
('hobby', ['soccer', 'game'])

#### key:value 쌍 모두 지우기
clear 함수는 딕셔너리 안의 모든 요소를 삭제한다.  
clear 함수는 반환 값이 없다.

In [146]:
dic = {'name': 'giyeol', 'age': 21, 'hobby': ['soccer', 'game']}

print(dic)

{'name': 'giyeol', 'age': 21, 'hobby': ['soccer', 'game']}

#### key로 value 얻기
get(x) 함수는 x라는 key에 대응되는 value를 반환한다.  
get(x) 함수는 딕셔너리의 key 값을 인덱싱하는 것과 동일하다.  
다만 딕셔너리의 key 값을 인덱싱 하는 경우 key가 존재하지 않는 경우 오류를 발생시키고, get(x) 함수를 사용하는 경우에는 None을 반환한다.

In [148]:
dic = {'name': 'giyeol', 'age': 21, 'hobby': ['soccer', 'game']}

print(dic.get('name'))
print(dic.get('job'))

giyeol
None

#### 해당 key가 딕셔너리 안에 있는지 조사하기
in을 사용하였을 때 key가 딕셔너리 안에 있으면 True, 없으면 False를 반환한다.

In [149]:
dic = {'name': 'giyeol', 'age': 21, 'hobby': ['soccer', 'game']}

print('name' in dic)
print('job' in dic)

True
False

## 불 자료형

불(bool) 자료형이란 참과 거짓을 나타내는 자료형이다.  
불 자료형은 True, False 2 가지 값만 가질 수 있다.

In [150]:
print(1==1)
print(1<2)
print(1>2)

True
True
False

### 자료형의 참과 거짓
자료형은 참과 거짓을 구분할 수 있다.  
문자열, 리스트, 튜플, 딕셔너리에서 값이 있으면 참이고, 비어 있으면 거짓이다.   
자료형의 참과 거짓은 반복 구문에서 많이 활용된다.
bool() 내장 함수를 사용하면 자료형의 참과 거짓을 확인할 수 있다.

In [152]:
a = [1,2,3,4]
while a:
    print(a.pop())

4
3
2
1

In [153]:
print(bool('python'))
print(bool(''))

True
False

## 변수

파이썬에서 사용하는 변수는 객체를 가리키는 것이라고도 말할 수 있다.  
만약 a=[1,2,3]이라 한다면 [1,2,3] 값을 가지는 리스트 자료형(객체)이 자동으로 메모리에 생성되고 변수 a는 [1,2,3] 리스트가 저장된 메모리의 주소를 가리키게 된다.  
id(a) 함수를 사용하면 a가 가리키는 객체의 주소를 반환한다.

In [156]:
a = [1,2,3]
print(id(a))

1871030807168

### 리스트 복사
리스트를 복사할 때는 변수가 동일한 리스트를 가리키게 복사할 수 있고, 리스트의 값은 동일하지만 가리키는 주소가 다르게 복사할 수 있다.

In [157]:
a = [1,2,3]
b = a
print(id(a))
print(id(b))

1871031217408
1871031217408

In [159]:
a = [1,2,3]
b = a
a[0] = 4
print(a)
print(b)

[4, 2, 3]
[4, 2, 3]

In [158]:
a = [1,2,3]
b = [1,2,3]

print(id(a))
print(id(b))

1871030807168
1871030891904

In [162]:
a = [1,2,3]
b = a[:]

print(a)
print(b)
print(id(a))
print(id(b))

[1, 2, 3]
[1, 2, 3]
1871030891904
1871031176192

In [163]:
a = [1,2,3]
b = a.copy()

print(a)
print(b)
print(id(a))
print(id(b))

[1, 2, 3]
[1, 2, 3]
1871013991808
1871018547264

In [164]:
from copy import copy
a = [1,2,3]
b = copy(a)

print(a)
print(b)
print(id(a))
print(id(b))

[1, 2, 3]
[1, 2, 3]
1871030807168
1871031235520

### 변수를 만드는 방법
파이썬에서는 튜플을 언패킹(unpacking) 하여 여러 변수에 값을 대입할 수 있다.

In [165]:
a, b = ('python', 'C')

print(a)
print(b)

python
C

In [166]:
a, b = 'python', 'C'

print(a)
print(b)

python
C

In [167]:
(a, b) = 'python', 'C'

print(a)
print(b)

python
C

In [168]:
(a, b) = ('python', 'C')

print(a)
print(b)

python
C

In [169]:
a=b='python'
print(a)
print(b)

python
python

In [170]:
a,b=3,5
b,a=a,b
print(a)
print(b)

5
3

# 추가

In [ ]:
sys.path.append
os.path.join